[Unit]
Description=Redis persistent key-value database
After=network.target

[Service]
ExecStart=<%= @bin_path %>/redis-server <%= node['redisio']['sentinel_defaults']['configdir'] %>/sentinel_%i.conf --sentinel --daemonize no
User=redis
Group=redis

[Install]
WantedBy=multi-user.target
